{% if site.category_sidebar %}
<section>
<h1>分类</h1>
<ul>
  <li><a href='/blog/categories/automation'>Automation (1)</a></li>
  <li><a href='/blog/categories/awk'>Awk (1)</a></li>
  <li><a href='/blog/categories/blogging'>Blogging (1)</a></li>
  <li><a href='/blog/categories/boost'>Boost (1)</a></li>
  <li><a href='/blog/categories/build'>Build (4)</a></li>
  <li><a href='/blog/categories/c'>C (2)</a></li>
  <li><a href='/blog/categories/c-'>C++ (5)</a></li>
  <li><a href='/blog/categories/c-'>C++ (1)</a></li>
  <li><a href='/blog/categories/cmake'>Cmake (3)</a></li>
  <li><a href='/blog/categories/debugging'>Debugging (3)</a></li>
  <li><a href='/blog/categories/functional'>Functional (2)</a></li>
  <li><a href='/blog/categories/haskell'>Haskell (1)</a></li>
  <li><a href='/blog/categories/haskell'>Haskell (2)</a></li>
  <li><a href='/blog/categories/hello'>Hello (1)</a></li>
  <li><a href='/blog/categories/linux'>Linux (1)</a></li>
  <li><a href='/blog/categories/log4cpp'>Log4cpp (1)</a></li>
  <li><a href='/blog/categories/logging'>Logging (1)</a></li>
  <li><a href='/blog/categories/markdown'>Markdown (3)</a></li>
  <li><a href='/blog/categories/networking'>Networking (1)</a></li>
  <li><a href='/blog/categories/python'>Python (1)</a></li>
  <li><a href='/blog/categories/rake'>Rake (1)</a></li>
  <li><a href='/blog/categories/regexp'>Regexp (1)</a></li>
  <li><a href='/blog/categories/ruby'>Ruby (7)</a></li>
  <li><a href='/blog/categories/snmp'>Snmp (1)</a></li>
  <li><a href='/blog/categories/ssl'>Ssl (1)</a></li>
  <li><a href='/blog/categories/study'>Study (7)</a></li>
  <li><a href='/blog/categories/test'>Test (1)</a></li>
  <li><a href='/blog/categories/tips'>Tips (11)</a></li>
  <li><a href='/blog/categories/tools'>Tools (3)</a></li>
  <li><a href='/blog/categories/unix'>Unix (1)</a></li>
  <li><a href='/blog/categories/vim'>Vim (1)</a></li>
  <li><a href='/blog/categories/wireshark'>Wireshark (1)</a></li>
  <li><a href='/blog/categories/中文'>中文 (1)</a></li>
  <li><a href='/blog/categories/学习笔记'>学习笔记 (7)</a></li>
</ul>
</section>
{% endif %}
